


#cart {
    width: 500px;
    padding: 1rem;
    margin-left:auto;
    margin-right:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(38, 50, 65, 0.479);
    color: white;
    border-radius: 3px;
}

.imgCart {
    height: 60px;
    width: 60px;
    aspect-ratio: 1/1;
}

#cartHeader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: auto;
    padding-left: auto;
}

#backButton {
    width: 2rem;
    height: 2rem;
    font-size: 0,5rem;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: rgb(255, 255, 255);
    background-color: rgba(57,127,241,1);
    margin-left: auto;
    margin-bottom: auto;
    border : none;  
    border-radius: 16px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    
}


    #backButton:active {
        transform: translate(0, 1px);
    }
    #backButton:hover {
        background-color: rgb(49, 85, 247);  
        cursor: pointer; 
    
}

#cart ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
    
    
}
#cart li {
    margin: 1rem;
    margin-top: 0rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    
}

.productCart {
    margin-left: 1rem;
    padding-top: 8px;
    text-align: left;
    
}


.subTotal {
    margin-left: 8rem;
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}


#removeButton {
    width: 1rem;
    height: 1rem;
    font-size: 0,5rem;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: rgba(57,127,241,1);
    background-color: rgba(38, 50, 65, 0);
    margin-left: auto;
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    border : none;  
}

#removeButton:hover {
    color: grey;
}
#removeButoon:active {
transform: scale(0,7);
}


#checkoutButton {
    display: block;
    width: 90%;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(57,127,241,1) 0%, rgba(31,61,146,1) 100%);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
#checkoutButton:active {
    
    transform: translate(0, 1px);
}
#checkoutButton:hover {
    
    cursor: pointer; 
    
}
.totalGlobal {
    font-weight: bold;
    text-align: right;
    margin-right: 100px;
}

