.body-thanks{
    height: 100vh;
}

.noItems{
    margin: 50px 0;
    font-size: 30px;
    font-weight: 600;

}
.thanks{
   margin: 0 auto;
   font-size: 30px;
   margin: 50px 0 10px 0;
}

.form-redirec{
    display: flex;
    justify-content: center;
}

.button-redirec{
  background-color: #0A66C2;
  margin-top: 20px;
  border: 0;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  vertical-align: middle;
}

.button-redirec:hover,
.button-redirec:focus { 
  background-color: #16437E;
  color: white;
}